# Execution configuration for the Aerion model
# Includes all settings needed for model execution

defaults:
  - base_config
  - model: aerion
  - dataset: single_day
  - _self_

# --------------------------------------
# Overrides
# --------------------------------------

experiment_name: "aerion-debug"

trainer:
  max_epochs: 100

optimizer:
  _target_: torch.optim.AdamW
  lr: 1e-3
  weight_decay: 0.0

dataloader:
  batch_size: 3072

data_processing:
  icao_code: "EDDB"
  feature_cols: ["latitude", "longitude", "altitude", "groundspeed", "track", "vertical_rate"]
