# Execution configuration for the Aerion model
# Includes all settings needed for model execution

defaults:
  - base_config
  - model: transformer
  - dataset: single_day
  - _self_

# --------------------------------------
# Overrides
# --------------------------------------

experiment_name: "transformer-debug"

trainer:
  max_epochs: 50

optimizer:
  _target_: torch.optim.AdamW
  lr: 1e-4
  weight_decay: 0.01

scheduler:
  warmup_epochs: 5

dataloader:
  batch_size: 3072

data_processing:
  feature_cols: ["x_coord", "y_coord", "altitude"]
  noise:
   std_x: 0.0
   std_y: 0.0
   std_alt: 0.0
