# Execution configuration for the Aerion model
# Includes all settings needed for model execution

defaults:
  - base_config
  - model: transformer
  - dataset: single_day
  - _self_

# --------------------------------------
# Overrides
# --------------------------------------

experiment_name: "transformer-debug"

trainer:
  max_epochs: 40

optimizer:
  _target_: torch.optim.AdamW
  lr: 1e-3
  weight_decay: 0.01

loss:
  enabled:
    mse: false
    ade: true
    fde: true
    rtd: false
    alignment: true
  gradnorm:
    alpha: 1.5
    weight_lr: 0.025
  alignment_num_waypoints: 7       # Number of final waypoints (default: 4 = 90s with 30s spacing)

scheduler:
  warmup_epochs: 5

scheduled_sampling:
  enabled: true
  teacher_forcing_epochs: 1
  transition_epochs: 15

dataloader:
  batch_size: 3072
