defaults:
  - base_config
  - model: transformer
  - features: aerion
  - dataset: single_day
  - _self_

# --------------------------------------
# Overrides
# --------------------------------------

experiment_name: "debug-transformer-basic"

trainer:
  max_epochs: 40

optimizer:
  _target_: torch.optim.AdamW
  lr: 1e-3
  weight_decay: 0.01

scheduler:
  warmup_epochs: 5

scheduled_sampling:
  enabled: true
  teacher_forcing_epochs: 1
  transition_epochs: 15

dataloader:
  batch_size: 3072
